.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;

  .text {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    line-height: 52px;
    color: var(--color-black);

    &.white {
      color: var(--color-white);
    }
  }
}
