@use './fonts';
@use './mixin';

:root {
  --color-primary: #111111;
  --color-primary-80: #111111cc;
  --color-black: #1f1f1f;
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--color-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}
